.mainTable{
    max-width: 500px;
}

.table{
    background-color: rgba(161, 115, 170, 0.719);
    margin: auto;
    padding: 1%;
    max-width: 500px;
}

.thChart{
    font-size: 150%;
    color: white;
}

.thx{
    width: 1%;
}

.tdChart{
    font-size: 150%;
    width: 10%;
    margin: auto;
    color: aliceblue;
}