html{
    @extend %resetCss;
}

.pDiscos{
    color: rgba(217, 247, 210, 0.856);
    margin: 0;
}

.anchDisc{
    color:rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
}

h1{
    color:  rgb(16, 192, 16);
    text-align: center;
    font-size: 500%;
}

header{
    margin: auto;
    width: 100%;
    height: auto;
    top: 0;
}

.navbar{
    .nav-link{
        text-decoration: none;
        
        color: rgb(16, 192, 16);
        border: 5px;
    }
    text-align: center;
    width: 100%;
    background-image: linear-gradient( rgba(34, 104, 34, 0.815),rgba(0, 0, 0, 0));
    font-size: 30px;
    margin: 0;
}

main{
    max-width: 1500px;
}
